/* Pon tu código css aqui */


.caja{
    border: solid 2px #ded9d9;
    width: 500px;
    
}
.amarillo, .azul, .rojo{
    width: 150px;
    height: 100px;
    
}
.amarillo{
    background-color: yellow;
    float: left;
    
}
.azul{
    background-color: #1919fa;
     float: left;
}
.rojo{
    background-color: #e50606;
     float: left;
}
.navegador a{
    text-decoration: none;
    position: relative;
    top: 140px;
    left: 20px;
    font-family: cursive;
    font-size: 20px;
    border: double 1px;#000;
    padding: 5px;
}